.store {
    border: 1px solid;
    border-color: #a6a6a6;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
  
  .store .logo {
    position: absolute;
  }
  
  .store .texto {
    position: absolute;
  }
  
  .store .google-play {
    height: 17px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 85px;
  }
  
  .store .get-it-on {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 9px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.27px;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .store .text-wrapper-7 {
    color: #ffffff;
    font-family: "Helvetica Neue-Regular", Helvetica;
    font-size: 9px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.18px;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .store .app-store {
    height: 16px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 75px;
  }
  
  .store.apple {
    background-color: var(--back);
    height: 40px;
    width: 130px;
  }
  
  .store.amazon {
    background-color: #000000;
    height: 46px;
    width: 120px;
  }
  
  .store.amazon-light {
    background-color: #ffffff;
    height: 46px;
    width: 120px;
  }
  
  .store.google {
    background-color: var(--back);
    height: 40px;
    width: 130px;
  }
  
  .store.apple .logo {
    height: 22px;
    left: 11px;
    top: 9px;
    width: 18px;
  }
  
  .store.amazon .logo {
    height: 20px;
    left: 26px;
    top: 20px;
    width: 67px;
  }
  
  .store.amazon-light .logo {
    height: 20px;
    left: 26px;
    top: 20px;
    width: 67px;
  }
  
  .store.google .logo {
    height: 26px;
    left: 9px;
    top: 7px;
    width: 23px;
  }
  
  .store.apple .texto {
    height: 29px;
    left: 40px;
    top: 6px;
    width: 77px;
  }
  
  .store.amazon .texto {
    color: #ffffff;
    font-family: "Helvetica-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    top: 3px;
    width: 120px;
  }
  
  .store.amazon-light .texto {
    color: #000000;
    font-family: "Helvetica-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    top: 3px;
    width: 120px;
  }
  
  .store.google .texto {
    height: 30px;
    left: 38px;
    top: 5px;
    width: 87px;
  }
  