.button-primary {
    background-color: #F2A900;
    color: #000;
    border: none;
    display: inline-flex;
    gap: 10px;
    padding: 15px 25px;
    position: relative;
    cursor:pointer;
    border-radius: 8px;
  }
  
  .button-primary .example-text-2 {
    color: #151517;
    font-family: "Neue Machina-Ultrabold", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  