.about-us {
  background-color: #161617;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.about-us .div-4 {
  background-color: #161617;
  height: 4195px;
  position: relative;
  width: 1950px;
}

.about-us .CTA {
  height: 400px;
  left: 323px;
  position: absolute;
  top: 3046px;
  width: 1300px;
}

.about-us .our-partners {
  height: 260px;
  left: 310px;
  position: absolute;
  top: 3491px;
  width: 1328px;
}

.about-us .group-4 {
  height: 141px;
  left: 3px;
  position: absolute;
  top: 2px;
  width: 441px;
}

.about-us .our-partners-2 {
  color: #ffffff;
  font-family: "Angkor", Helvetica;
  font-size: 37.9px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 42.6px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 437px;
}

.about-us .p {
  color: #898990;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 65px;
  width: 335px;
}

.about-us .frame-4 {
  align-items: center;
  background-color: var(--neutralneutral);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgba(251.64, 255, 242.25, 0.24),
      rgba(0, 0, 0, 0) 87.5%,
      rgba(231.72, 234.81, 223.07, 0.24) 100%
    )
    1;
  border-radius: 40px;
  display: flex;
  gap: 12px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 172px;
  width: 222px;
}

.about-us .unsplash-wrapper {
  background-color: #c4c4c4;
  border-radius: 28px;
  height: 56px;
  position: relative;
  width: 56px;
}

.about-us .unsplash {
  background-color: #c4c4c4;
  border-radius: 28px;
  height: 56px;
}

.about-us .frame-5 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.about-us .text-wrapper-16 {
  color: var(--neutrallighter);
  font-family: "Angkor", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-us .text-wrapper-17 {
  color: #f2a900;
  font-family: "Anek Telugu", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-us .group-5 {
  height: 260px;
  left: 590px;
  position: absolute;
  top: 0;
  width: 738px;
}

.about-us .overlap-3 {
  height: 260px;
  position: relative;
}

.about-us .group-6 {
  border: 1px solid;
  border-color: var(--neutrallighter);
  height: 260px;
  left: 0;
  position: absolute;
  top: 0;
  width: 724px;
}

.about-us .overlap-group-4 {
  height: 258px;
  position: relative;
  top: 2px;
}

.about-us .rectangle {
  background-color: #898990;
  height: 1px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 128px;
  width: 724px;
}

.about-us .rectangle-2 {
  background-color: #898990;
  height: 258px;
  left: 241px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 1px;
}

.about-us .rectangle-3 {
  background-color: #898990;
  height: 258px;
  left: 506px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 1px;
}

.about-us .group-7 {
  height: 156px;
  left: 48px;
  position: absolute;
  top: 51px;
  width: 690px;
}

.about-us .meet-the-team {
  height: 524px;
  left: 346px;
  position: absolute;
  top: 2491px;
  width: 1258px;
}

.about-us .heading {
  height: 110px;
  left: 312px;
  position: absolute;
  top: 0;
  width: 630px;
}

.about-us .meet-the-team-2 {
  color: #ffffff;
  font-family: "Angkor", Helvetica;
  font-size: 37.9px;
  font-weight: 400;
  left: 129px;
  letter-spacing: 0;
  line-height: 42.6px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.about-us .text-wrapper-18 {
  color: #898990;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 52px;
  width: 626px;
}

.about-us .group-8 {
  height: 382px;
  left: 0;
  position: absolute;
  top: 142px;
  width: 1258px;
}

.about-us .team-iteam-small-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.about-us .team-iteam-small-2 {
  font-family: "Angkor", Helvetica !important;
  font-size: 21.3px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: 24px !important;
}

.about-us .team-iteam-small-3 {
  font-family: "Anek Telugu", Helvetica !important;
  font-size: 16px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: 24px !important;
}

.about-us .team-iteam-small-4 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  left: 343px;
  position: absolute;
  top: 0;
}

.about-us .hover-overlay-wrapper {
  background-color: #c4c4c4;
  border-radius: 115px;
  height: 230px;
  position: relative;
  width: 230px;
}

.about-us .hover-overlay {
  background: linear-gradient(
    180deg,
    rgb(242, 169, 0) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  border-radius: 115px;
  height: 230px;
}

.about-us .name-position-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.about-us .NIKOLA-BOZIC {
  color: #f3f3f3;
  font-family: "Angkor", Helvetica;
  font-size: 21.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 131px;
}

.about-us .founder {
  color: #898990;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.about-us .social-media-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.about-us .group-9 {
  height: 40px;
  position: relative;
  width: 42px;
}

.about-us .overlap-group-5 {
  background-color: #f2a900;
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 40px;
}

.about-us .text-wrapper-19 {
  color: var(--brand-colorprimary);
  font-family: "Font Awesome 5 Brands-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}

.about-us .overlap-4 {
  background-color: #232325;
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 40px;
}

.about-us .text-wrapper-20 {
  color: #f3f3f3;
  font-family: "Font Awesome 5 Brands-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}

.about-us .group-10 {
  height: 40px;
  margin-right: -2.00px;
  position: relative;
  width: 42px;
}

.about-us .team-iteam-small-5 {
  left: 685px !important;
  position: absolute !important;
  top: 0 !important;
}

.about-us .team-iteam-small-6 {
  left: 1028px !important;
  position: absolute !important;
  top: 0 !important;
}

.about-us .CTA-2 {
  height: 288px;
  left: 323px;
  position: absolute;
  top: 2182px;
  width: 1304px;
}

.about-us .overlap-5 {
  border-radius: 20px;
  height: 288px;
  position: relative;
  width: 1300px;
}

.about-us .rectangle-wrapper {
  background-color: #f2a900;
  border-radius: 20px;
  height: 288px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1300px;
}

.about-us .rectangle-4 {
  height: 288px;
  left: 776px;
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  width: 524px;
}

.about-us .get-started-for-free {
  color: var(--brand-colorprimary);
  font-family: "Angkor", Helvetica;
  font-size: 37.9px;
  font-weight: 400;
  left: 70px;
  letter-spacing: 0;
  line-height: 42.6px;
  position: absolute;
  top: 68px;
  white-space: nowrap;
  width: 484px;
}

.about-us .text-wrapper-21 {
  color: #000000;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 74px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 152px;
  width: 499px;
}

.about-us .button-secondary-instance {
  left: 1110px !important;
  position: absolute !important;
  top: 117px !important;
}

.about-us .design-component-instance-node-2 {
  font-family: "Angkor", Helvetica !important;
}

.about-us .button-secondary-2 {
  background-color: var(--brand-colorprimary) !important;
  left: 940px !important;
  position: absolute !important;
  top: 117px !important;
}

.about-us .button-secondary-3 {
  color: var(--neutral-white) !important;
  font-family: "Angkor", Helvetica !important;
}

.about-us .our-mission {
  height: 1034px;
  left: 312px;
  position: absolute;
  top: 1106px;
  width: 1343px;
}

.about-us .group-11 {
  height: 240px;
  left: 1px;
  position: absolute;
  top: 33px;
  width: 319px;
}

.about-us .our-concept-mission {
  color: var(--neutrallighter);
  font-family: "Angkor", Helvetica;
  font-size: 37.9px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: 42.6px;
  position: absolute;
  top: 0;
  width: 312px;
}

.about-us .text-wrapper-22 {
  color: #898990;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 132px;
  width: 315px;
}

.about-us .our-mission-2 {
  color: #f2a900;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 5.76px;
  line-height: 24px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.about-us .overlap-6 {
  height: 261px;
  left: 681px;
  position: absolute;
  top: 0;
  width: 644px;
}

.about-us .element {
  color: var(--neutrallighter);
  font-family: "Angkor", Helvetica;
  font-size: 37.9px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 42.6px;
  position: absolute;
  top: 45px;
  white-space: nowrap;
}

.about-us .span {
  color: #f3f3f3;
}

.about-us .text-wrapper-23 {
  color: #f2a900;
}

.about-us .element-2 {
  color: var(--neutrallighter);
  font-family: "Angkor", Helvetica;
  font-size: 37.9px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 42.6px;
  position: absolute;
  top: 175px;
  white-space: nowrap;
}

.about-us .frame-6 {
  align-items: center;
  display: inline-flex;
  gap: 20px;
  left: 478px;
  position: absolute;
  top: 45px;
}

.about-us .text-wrapper-24 {
  color: #ffffff;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-us .group-12 {
  height: 36px;
  position: relative;
  width: 36px;
}

.about-us .overlap-group-6 {
  border-radius: 18px;
  height: 36px;
  position: relative;
}

.about-us .ellipse {
  background-color: var(--neutrallighter);
  border-radius: 18px;
  height: 36px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 36px;
}

.about-us .icon-line-arrow {
  height: 16px !important;
  left: 10px !important;
  position: absolute !important;
  top: 10px !important;
  width: 16px !important;
}

.about-us .frame-7 {
  align-items: center;
  display: inline-flex;
  gap: 20px;
  left: 428px;
  position: absolute;
  top: 172px;
}

.about-us .text-wrapper-25 {
  color: #ffffff;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 160px;
}

.about-us .dividers {
  height: 261px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 630px;
}

.about-us .rectangle-5 {
  background-color: var(--neutrallighter);
  height: 1px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 630px;
}

.about-us .rectangle-6 {
  background-color: var(--neutrallighter);
  height: 1px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 130px;
  width: 630px;
}

.about-us .rectangle-7 {
  background-color: var(--neutrallighter);
  height: 1px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 260px;
  width: 630px;
}

.about-us .text-wrapper-26 {
  color: #898990;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 931px;
  width: 414px;
}

.about-us .text-wrapper-27 {
  color: #898990;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 455px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 931px;
  width: 414px;
}

.about-us .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22.4px;
  height: 103px;
  left: 909px;
  position: absolute;
  top: 931px;
  width: 414px;
}

.about-us .span-wrapper {
  align-self: stretch;
  color: #898990;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2px;
  position: relative;
}

.about-us .text-wrapper-28 {
  color: #898990;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2px;
}

.about-us .our-mission-3 {
  color: var(--neutrallighter);
  font-family: "Angkor", Helvetica;
  font-size: 21.3px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 897px;
  white-space: nowrap;
}

.about-us .our-vision {
  color: var(--neutrallighter);
  font-family: "Angkor", Helvetica;
  font-size: 21.3px;
  font-weight: 400;
  left: 455px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 897px;
  white-space: nowrap;
}

.about-us .core-value {
  color: var(--neutrallighter);
  font-family: "Angkor", Helvetica;
  font-size: 21.3px;
  font-weight: 400;
  left: 909px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 897px;
  white-space: nowrap;
}

.about-us .group-wrapper {
  background-color: #c4c4c4;
  border-radius: 10px;
  height: 476px;
  left: 2px;
  position: absolute;
  top: 341px;
  width: 1300px;
}

.about-us .group-13 {
  height: 76px;
  left: 624px;
  position: relative;
  top: 200px;
  width: 78px;
}

.about-us .overlap-7 {
  border-radius: 38px;
  height: 76px;
  position: relative;
  width: 76px;
}

.about-us .ellipse-2 {
  background-color: #f3f3f31a;
  border-radius: 38px;
  box-shadow: inset 0px 1px 1px #ffffff40;
  height: 76px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 76px;
}

.about-us .ellipse-3 {
  background-color: #f3f3f31a;
  border-radius: 29.31px / 29.32px;
  box-shadow: inset 0px 1px 1px #ffffff40;
  height: 59px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 59px;
}

.about-us .text-wrapper-29 {
  color: #f2a900;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
  width: 15px;
}

.about-us .overlap-8 {
  height: 2888px;
  left: 0;
  position: absolute;
  top: -1849px;
  width: 1920px;
}

.about-us .hero-imgs {
  height: 2888px;
  left: 359px;
  position: absolute;
  top: 0;
  width: 1261px;
}

.about-us .overlap-9 {
  height: 2888px;
  position: relative;
  width: 1257px;
}

.about-us .who-are-we {
  color: var(--neutrallighter);
  font-family: "Angkor", Helvetica;
  font-size: 56px;
  font-weight: 400;
  left: 310px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 2079px;
  white-space: nowrap;
  width: 598px;
}

.about-us .millibtc-empowers {
  color: #898990;
  font-family: "Anek Telugu", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 345px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 2150px;
  width: 528px;
}

.about-us .button-primary-instance {
  background-color: #f2a900 !important;
  left: 542px !important;
  position: absolute !important;
  top: 2235px !important;
}

.about-us .imgs {
  height: 2888px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1257px;
}

.about-us .overlap-10 {
  height: 2888px;
  position: relative;
}

.about-us .overlap-group-7 {
  height: 2888px;
  left: 213px;
  position: absolute;
  top: 0;
  width: 1044px;
}

.about-us .rectangle-8 {
  height: 545px;
  left: 0;
  position: absolute;
  top: 2343px;
  width: 790px;
}

.about-us .group-14 {
  height: 2227px;
  left: 735px;
  position: absolute;
  top: 266px;
  width: 309px;
}

.about-us .vector {
  height: 27px;
  left: 0;
  position: absolute;
  top: 2107px;
  width: 241px;
}

.about-us .group-15 {
  height: 2159px;
  left: 257px;
  position: absolute;
  top: 0;
  width: 52px;
}

.about-us .ellipse-4 {
  background-color: #f2a900;
  border: 1px solid;
  border-radius: 26px;
  height: 52px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 2107px;
  width: 52px;
}

.about-us .group-16 {
  height: 2287px;
  left: 651px;
  position: absolute;
  top: 0;
  width: 276px;
}

.about-us .group-17 {
  height: 2159px;
  left: 224px;
  position: absolute;
  top: 0;
  width: 52px;
}

.about-us .vector-2 {
  height: 108px;
  left: 0;
  position: absolute;
  top: 2179px;
  width: 225px;
}

.about-us .group-18 {
  height: 2212px;
  left: 0;
  position: absolute;
  top: 91px;
  width: 310px;
}

.about-us .vector-3 {
  height: 50px;
  left: 26px;
  position: absolute;
  top: 2170px;
  width: 289px;
}

.about-us .group-19 {
  height: 2159px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;
}

.about-us .header-instance {
  background-color: transparent !important;
  left: 310px !important;
  position: absolute !important;
  top: 1878px !important;
}

.about-us .header-2 {
  width: 1307px !important;
}

.about-us .annoucement-bar {
  background: linear-gradient(
    180deg,
    rgb(242, 169, 0) 0%,
    rgb(129.61, 200.81, 15.06) 47.92%,
    rgb(97, 189.17, 255) 100%
  );
  height: 40px;
  left: 0;
  position: absolute;
  top: 1849px;
  width: 1920px;
}

.about-us .footer-instance {
  background-color: transparent !important;
  left: 341px !important;
  position: absolute !important;
  top: 3771px !important;
}

.about-us .footer-2 {
  width: 1303px !important;
}
