.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.our-mission, .who-we-are {
  background-color: #111;
  padding: 3rem;
  color: #fff;
  margin-top: 20px;
}

.stat-number {
  color: #F2A900;
  font-size: 2rem;
  font-weight: bold;
}
