.footer {
  background-color: #000;
  padding-bottom: 2px 0px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Anek Telugu", sans-serif;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;          
  padding: 0;            
}

.footer-logo {
  height: 90px;
  width: auto;
  display: block;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-location {
  font-size: 16px;
  color: #ccc;
  margin: 0;
}

.footer-copyright {
  font-size: 14px;
  color: #F2A900;
  margin: 0;
}

@media (max-width: 768px) { /* Responsive Stack on Mobile */
  .footer-content-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer {
    text-align: center;
  }

  .footer-logo {
    height: 80px;
  }
}
